
.FormularZeile {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 25px;
    vertical-align: top;
}
.FormularLabel {
    display: inline-block;
    margin-left: 10px;
    width: 35%;
    font-weight: bold;
    vertical-align: top;
}
.FormularInput {
    display: inline-block;
    margin-left: 10px;
    width: 45%;
    text-align: left;
}
.FormularButton {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.Button {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

select {
    width: 190px;
}

label {
    vertical-align: top;
}