h1{
    margin-bottom: 0px;
}

.contentLeft{
    float: left;
    width: 48%;
}

.contentRight{
    float: right;
    width: 50%;
}

.clearRight{
    clear: right;
}

.clearLeft{
    clear: left;
}

.clearBoth{
    clear: both;
}

.FormularZeile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 25px;
}
.Beschriftung {
    width: 20%;
    display: inline-block;
    font-weight: bold;
}
.Text {
    width: 25%;
    display: inline-block;
    text-align: left;
    margin-right: 4%; 
}
.Wert {
    width: 10%;
    display: inline-block;
    text-align: center;
}
.WertB {
    width: 20%;
    display: inline-block;
    text-align: left;
    margin-right: 4%;
    cursor: pointer;
}
.Inhalt {
    width: 100%;
    padding-top: 15px;
    border: 1px solid black; 
}
.Kategorie {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: left;
    display: block;
}
.Kategorie a {
    font-size: 12pt;
    font-family:arial, "lucida console", sans-serif;
    display: block;
    text-decoration: underline;
}
#beschreibung {
    position: fixed;
    z-index: 5;
    text-align: left;
    right: 0px;
    top: 300px;
    padding-left: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    width: 180px;
    background-color: #9cdce2;
    border-top : 1px solid black;
    border-right: 0px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    display: block;
    cursor: pointer;
}