  
#personData {
    position: fixed;
    z-index: 2;
    text-align: left;
    left: 0px;
    top: 140px;
    padding-left: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    width: 180px;
    max-height: 600px;
    background-color: #9cdce2;
    border-top : 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px solid black;
    overflow: auto;
}

.formRow {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    vertical-align: top;
    border: none;
}

.formRow div {
    display: inline-block;
}

.label {
    padding-left: 15px;
    width: 60%;
    vertical-align: middle;
}
.label .title {
    font-weight: bold;
}

.input {
    padding-right: 15px;
    width: calc(38% - 30px);
    text-align: right;
}

.FormularLabel {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    vertical-align: middle;
}
.FormularInput {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: right;
}
.titel{
    display: block;
    font-weight: bold;
}
.Ausgabe {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    font-weight: bold;
    vertical-align: top;
}
.FormularButton {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.Button {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.Select{
    width: 200px;
    display: block;
}

input{
    background: none;
    border: none;
    border-bottom: dotted black;
}

#Beschreibung{
    vertical-align: middle;
}

label{
    vertical-align: middle;
}

legend{
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

legend.reset.active{
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

legend.reset.inactive{
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.choices{
    display: inline-block; 
    width: 120px; 
    height: 100px; 
    border: 1px solid black; 
    float: left; 
    vertical-align: middle; 
    margin: 0 auto;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.choices:hover {
    transition: background-color 0.7s ease-out;
    background-color: silver;
    color: red;
}
.choices.vorteil{
    display: inline-block; 
    width: 120px; 
    height: 50px; 
    border: 1px solid black; 
    float: left; 
    vertical-align: middle; 
    margin: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    line-height: 125%;
}
.choices.vorteil.active:hover {
    transition: background-color 0.3s ease-out;
    background-color: silver;
    color: red;
}

.choices.nachteil{
    display: inline-block; 
    width: 120px; 
    height: 50px; 
    border: 1px solid black; 
    float: left; 
    vertical-align: middle; 
    margin: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    line-height: 125%;
}
.choices.nachteil.active:hover {
    transition: background-color 0.3s ease-out;
    background-color: silver;
    color: red;
}

.marked{
    background-color: #72b42d;
}

.choices.disabledPreview{
    background-color: black;
    color: white;
}

.choices.disabled{
    border: none;
    /*background-color: red;*/
    padding: 1px;
}

a:link {text-decoration: none; color: #000000;}
a:visited {text-decoration: none; color: #000000;}
a:active {text-decoration: underline; color: #0000FF;}
a:hover {text-decoration: underline; color: red;}