
#inhalt {
    cursor: default;
}

.informationBox {
    border: 1px solid black;
    text-align: left;
    padding-left: 5px;
}

.informationBox h2 {
    text-align: left;
}

#informationNavigation {
    float: left;
    width: 23%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 60vh;
    /*font-size: 0.8em;*/
}

#informationNavigation h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

#informationMain {
    float: right;
    width: 75%;
}

.information {
    cursor: pointer;
}

.clear {
    clear: both;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}