
#Titel{
    font-weight: bold;
}

.subContent{
    height: 0;
    display: block;
    overflow: hidden;
}

.subContent span{
    padding-left: 30px;
}

.subContent textarea{
    width: 100%;
}
fieldset p {
    margin-left: 1em;
    margin-right: 1em;
}
