html, body {
    text-align: left;
    font-family: Kalinga;
    font-size: 10pt;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    background-color: white;
}

#seitenbereich1 {
    position: relative;
    height: auto;
    min-height: 720px;
    text-align: center;
    width: 100%;
    background-color: white;
}

#seitenbereich2 {
    position: relative;
    height: auto;
    min-height: 720px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: white;
    z-index: 1;
    padding-bottom: 20px;
}
#seitenbereich3 {
    position: relative;
    height: auto;
    min-height: 720px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: white;
    z-index: 1;
    padding-bottom: 20px;
}
#header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 240px;
    background-color: white;
}

#header-logo {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-image: url(../images/fp_forum_logo_custom2.jpg);
    background-repeat: no-repeat;
    width: 800px;
    height: 240px;
}

#navigation {
    position: fixed;
    text-align: left;
    font-family: Arial;
    z-index: 2;
    left: 0px;
    top: 140px;
    padding-left: 15px;
    padding-top: 10px;
    width: 180px;
    /* height: 300px; */
    background-color: #9cdce2;
    border-top : 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#navigation ul{
    padding: 0;
}

#navigationrechts {
    position: fixed;
    z-index: 2;
    text-align: left;
    font-family: Arial;
    right: 0px;
    top: 140px;
    padding-left: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    width: 180px;
    background-color: #9cdce2;
    border-top : 1px solid black;
    border-right: 0px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#navigationrechts ul{
    padding: 0;
}


#beschreibungRechts {
    position: fixed;
    z-index: 2;
    text-align: left;
    right: 0px;
    top: 140px;
    padding-left: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    width: 180px;
    max-height: 600px;
    background-color: #9cdce2;
    border-top : 1px solid black;
    border-right: 0px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    overflow: auto;
}  
#beschreibungLinks {
    position: fixed;
    z-index: 2;
    text-align: left;
    left: 0px;
    top: 140px;
    padding-left: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    width: 180px;
    max-height: 600px;
    background-color: #9cdce2;
    border-top : 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px solid black;
    overflow: auto;
}

#steuerung {
    background-color: #b22222;
    text-align: center;
    font-family: Candara;
    font-size: 12pt;
    padding-left: 10px;
    padding-top: 8px;
    width: auto;
    height: 34px;
    border-top: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#steuerung ul {
    list-style-type:none;
    list-style-image:none;
    margin: 0px;
    padding: 0px;
}

#steuerung li {
    float:left;
    /*margin-right: 15px;*/
    background-color: silver;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 125px;
    border-top : 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px red solid;
    transition: background-color 0.7s ease-out;
}

#steuerung li ul li {
    float:left;
    margin-top: 0px;
    margin-bottom: 0px;
}
#steuerung li ul li:hover {
    margin-top: 2px;
    margin-bottom: 2px;
}


#steuerung ul ul {
    position: absolute;
    margin-left: 0px;
}

#steuerung ul ul li {
    float: none;
    background-color: silver;
    height: 0px;
    border-top : 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px red solid;
    transition: height 0.5s ease-in-out 0s;
    -webkit-transition: height 0.5s ease-in-out 0s;
    -moz-transition: height 0.5s ease-in-out 0s;
    -o-transition: height 0.5s ease-in-out 0s;
    overflow: hidden;
    border: hidden;
}

#steuerung li:hover {
    transition: background-color 0.7s ease-out;
    /*    transition: width 0.7s ease-out;
        width: auto;*/
    background-color: #9cdce2;
    color: red;
}

#steuerung li:hover ul li {
    width: 125px;
    height: 20px;
    position: relative;
    left: -1px;
    border-top : 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px red solid;
}

#steuerung ul ul li:hover {
    background-color: #9cdce2;
    width: 125px;
}

#steuerung li a {
    text-decoration: none;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#inhalt {
    width: auto;
    text-align: left;
    border: 1px black solid;
    margin-top: 1.5%;
    padding: 5px;
    background-color: #9cdce2;
    min-height: 700px;
    height: auto;
    z-index: 1;
}
* {
    margin: 0em;
    padding: 0em;
}
#inhalt h1, h2, h3, p, ul {
    padding-bottom: .5em;
}
ul {
    padding-left: 2em;
} 



.submenu {
    text-align: center;
    font-family: Candara;
    font-size: 10pt;
    width: auto;
}

.submenu ul {
    list-style-type:none;
    list-style-image:none;
}

.submenu li {
    display: inline-block;
    /*float:left;*/
    /*margin-right: 15px;*/
    background-color: silver;
    margin: 2px;
    padding: 0 2px;
    border-top : 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px red solid;
    transition: background-color 0.7s ease-out;
}

.submenu ul ul {
    position: absolute;
    margin-left: 0px;
}

.submenu ul ul li {
    float: none;
    background-color: silver;
    border-top : 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px red solid;
    transition: height 0.5s ease-in-out 0s;
    -webkit-transition: height 0.5s ease-in-out 0s;
    -moz-transition: height 0.5s ease-in-out 0s;
    -o-transition: height 0.5s ease-in-out 0s;
    overflow: hidden;
    border: hidden;
}

.submenu li:hover {
    transition: background-color 0.7s ease-out;
    background-color: #9cdce2;
    color: red;
}

.submenu ul ul li:hover {
    background-color: #9cdce2;
}

.submenu li a {
    text-decoration: none;
    display: block;
}

/* ############################################################# */        
.News {
    width: auto;
    text-align: left;
    border: 0px;
    margin: 50px;
    padding: 15px;
    background-color: transparent;
    border-bottom: 1px solid black;    
}
.NewsTitel {
    width: auto;
    text-align: center;            
}
.NewsNachricht {
    width: auto;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 30px;
}
.NewsBottom {
    width: auto;
}
.NewsVerfasser {
    float: left;
    width: 30%;
    text-align: left;
    font-size: x-small;
    display: block;
}
.NewsEdit {
    float: left;
    width: 40%;
    text-align: center;
    font-size: x-small;
}
.NewsDatum {
    float: right;
    width: 30%;
    text-align: right;
    font-size: x-small;
}
.Archiv{
    width: auto;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.ArchivLeft{
    display: inline-block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.ArchivRight{
    display: inline-block;
    width: 28%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
/* ############################################################# */ 

.Zentriert {                                                
    text-align: center;
}

.userlist{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

#footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    background:transparent;
    text-align:center;
    height: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.Meldung {
    font-size:11pt;
    font-family:arial, "lucida console", sans-serif;
    text-align: center;
    color: red;    
}
.Fett {
    font-weight: bold;
}
.Admin {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #FF0000;
    display: block;
    margin-bottom: 10px;
}
.AdminSelect{
    color: #FF0000;
}
h1 {
    margin-top: 15px;
    font-size:13pt;  
    font-family:arial, "lucida console", sans-serif;
    text-align: center;
    margin-bottom: 25px; 
}
h2 {
    margin-top: 10px;
    font-size:11pt;
    font-family:arial, "lucida console", sans-serif;
    text-align: center;
}
h3 {
    font-size:10pt;
    font-family:arial, "lucida console", sans-serif;
    text-align: left;
}
table {
    margin: 0 auto;  
}
img {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.img{
    max-width: 700px;
    max-height: 700px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
}
.passimg{
    max-width: 200px;
    max-height: 260px;
    overflow: auto;
}
form{
    margin-bottom: 25px; 
    margin-top: 25px; 
}

#dialog {
    display: none;
    max-height: 700px;
    overflow: auto;
    height: 0;
}

#nachrichtencenter .head{
    border-bottom: 1px solid black;
}

#nachrichtencenter .head .status{
    width: 15%;
    display: inline-block;
    padding: 1px;
}
#nachrichtencenter .head .date{
    width: 15%;
    display: inline-block;
    padding: 1px;
}
#nachrichtencenter .head .betreff{
    width: 35%;
    display: inline-block;
    padding: 1px;
}
#nachrichtencenter .head .user{
    width: 15%;
    display: inline-block;
    padding: 1px;
}
#nachrichtencenter .body .status{
    width: 5%;
    display: inline-block;
    padding: 1px;
}
#nachrichtencenter .body .date{
    width: 15%;
    display: inline-block;
    padding: 1px;
}
#nachrichtencenter .body .betreff{
    width: 45%;
    display: inline-block;
    padding: 1px;
}
#nachrichtencenter .body .user{
    width: 15%;
    display: inline-block;
    padding: 1px;
}

#nachrichtencenter .details span{
    display: inline-block;
    width: 33%;
}

.userSelect{
    width: 200px;
}

.betreffInput{
    width: 200px;
}

.message{
    width: 100%; 
    min-height: 400px; 
    height: auto; 
    background-color: #fff;
}

.gruppenchat{
    max-height: 400px;
    overflow: auto;
}

.gruppenchat .messageSet .message{
    background-color: #fff;
    min-height: 0;
}

.genres label{
    width: 100px;
}

a:link {text-decoration: none; color: #000000;}
a:visited {text-decoration: none; color: #000000;}
a:active {text-decoration: underline; color: #0000FF;}
a:hover {text-decoration: none; color: red;}

kbd{
    background-color: silver;
}
#pass{
    cursor: default;
}