.wishEntry {
    margin-bottom: 15px;
}

.wishDescription {
    width: 740px;
    overflow: hidden;
    white-space: nowrap;
    height: 60px;
}

.wishTitle {
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1.1em;
}